<a href="https://colab.research.google.com/github/rlecps2011/googlecolab_public/blob/main/pandas_basico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***PANDAS BASICO***

Devemos sempre importar a biblioteca pandas com o **import**.

In [4]:
import pandas as pd
consumo_combustivel = {'data': ['01/01/2022', '01/01/2022', '02/01/2022'],
'carro': ['carro1', 'carro1', 'carro2'],
'placa': ['0001', '0001', '0202'],
'tipo': ['alcool', 'alcool', 'gasolina'],
'consumo': ['10','15','20']
}
df_consumo_combustivel = pd.DataFrame(consumo_combustivel)

In [ ]:
display(df_consumo_combustivel)

**Realizando testes baseados no video do HASHTAG Treinamentos** 

https://www.youtube.com/watch?v=C0aj3FjN5e0&t

Nem sempre o comando display é o melhor para visualizar um dataframe, podemos usar o head e o shape como alternativos, menos custosos ao processamento.

O describe ja nos mostra resumos de colunas que contem números.

In [ ]:
df_vendas = pd.read_excel("Vendas.xlsx")

In [18]:
display(df_vendas)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036

In [ ]:
#outros tipos de visualização, atenção para o describe...
display(df_vendas.head(10))
print(df_vendas.shape)
display(df_vendas.describe())

In [ ]:
#isolar 1 ou mais 2 colunas em uma variavel.
resultado = df_vendas[['Produto', 'Quantidade', 'Valor Final']]
#display(resultado)
display(resultado.describe())

**Comando LOC**

Conseguimos filtrar o dataframe por condições.
Sejam linhas e/ou colunas...

In [ ]:
#para 1 linha do indice (primeira coluna de um dataframe)
#display(df_vendas.loc[1])
display(df_vendas.loc[90:95])

In [ ]:
#filtra baseado em condição
display(df_vendas.loc[df_vendas['ID Loja'] == 'Norte Shopping'])

In [ ]:
#filtra baseado em condição, selecionando colunas
resultado_filtrado = df_vendas.loc[df_vendas['ID Loja'] == 'Norte Shopping', ["Produto", "Quantidade", "Valor Final"]]
display(resultado_filtrado)

**Adicionando colunas ao dataframe**

In [ ]:
#adicioando coluna baseada em outra coluna
df_vendas['Comissao'] = df_vendas['Valor Final'] * 0.01
display(df_vendas)

In [ ]:
#adicionando coluna zerada com menos processamento
df_vendas.loc[:, 'Imposto'] = 0
display(df_vendas)

**Começar a ler o arquivo de Vendas de Dezembro**

In [ ]:
df_vendas_dezembro = pd.read_excel('Vendas - Dez.xlsx')
display(df_vendas_dezembro)

In [ ]:
#adicioando o dataframe de dezembro ao dataframe inicial...

# rodar só 1 vez o append, para nao duplicar as linhas
df_vendas = df_vendas.append(df_vendas_dezembro)
display(df_vendas)

**Excluir colunas ou linhas de um Dataframe**

In [ ]:
#atenção ao escolher o eixo X=0 ou Y=1
#estou criando a coluna comissao novamente para que este bloco sempre rode

df_vendas['Comissao'] = df_vendas['Valor Final'] * 0.01
df_vendas = df_vendas.drop("Comissao", axis=1)
display(df_vendas)

**COMANDOS PLUS**

tratamento de valores vazios

In [ ]:
#excluir toda uma coluna  toda VAZIA
df_vendas = df_vendas.dropna(how='all', axis=1)
display(df_vendas)

In [ ]:
#excluir uma linha que possui pelo menos uma linha com valor Vazio.
df_vendas = df_vendas.dropna()
display(df_vendas)

In [ ]:
#preencher linhas vazias com algum valor
df_vendas['Comissao'] = df_vendas['Comissao'].fillna(1)
display(df_vendas)

#preencher colunas vazias, porém com o ultimo valor
#atencao que podemos usar apenas uma coluna para isto
df_vendas = df_vendas.ffill()

**COMANDOS DE GROUPBY E COUNTS**

In [ ]:
#contou quantas linhas agrupando pela loja, ou seja transacoes
transacoes = df_vendas['ID Loja'].value_counts()
display(transacoes)

In [ ]:
#somar os valores agrupados, ou usar outras funcoes como MEAN
#detalhe que podemos usar o groupby também selecionando colunas
faturamento_produto = df_vendas[['ID Loja', 'Valor Final', 'Comissao']].groupby(['ID Loja']).sum()
display(faturamento_produto)

**MESCLAR DATAFRAMES, NO SELECT SEMELHANTE AO JOIN ENTRE 2 TABELAS**

In [ ]:
#importando o dataframe gerentes
df_gerentes = pd.read_excel('Gerentes.xlsx')
display(df_gerentes)

In [ ]:
#mesclando os dataframes
df_vendas = df_vendas.merge(df_gerentes)
display(df_vendas)

In [ ]:
#Somar a venda por gerente
faturamento_gerente = df_vendas[['Gerente', 'Valor Final']].groupby(['Gerente']).sum()
display(faturamento_gerente)